@model Prueba_9D_MVC.Models.producto
@{
    ViewBag.Title = "DetallesProducto";
}

<h2>Producto</h2>

<div>
    <table class="table centered responsive-table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Existencias
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.precio)
                </td>
                <td>
                    @Html.DisplayFor(model => model.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.existencia)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "EditarProducto", new { id = Model.id }) |
    @Html.ActionLink("Regresar al inicio", "Index")
</p>
